In [1]:
import seaborn as sns
import pandas as pd

작업형 유형 1 문제(1)

- alcohol(음주수치)이 상위 10번째 값으로 상위 1~10위의 범위의 값을 변경한 후
- speeding(속도)가 7이상의 alcohol(음주수치) 데이터들의 평균 산출
- 최종 결과만 print 출력

In [2]:
# 데이터 가져오기
sns.get_dataset_names()
df = sns.load_dataset('car_crashes')
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [3]:
data = df.sort_values('alcohol',ascending=False)

ten = data.iloc[9,2]
# 상위 10번재 값으로 상위 1~10위의 값 변경
data.iloc[:10,2] = ten

# 속도가 7이상의 데이터의 음주수치 평균
print(data[data['speeding'] >= 7].alcohol.mean())

5.600099999999999

작업형 유형 1 문제(2)

- 데이터 첫번째 행부터 70%까지의 데이터를 추출한 후
- distance(거리)의 결측값을 distance(거리)의 중앙값으로 대체하고
- 결측값 전처리 전과 후의 표준편차를 비교
- 전/후 결과값 print

In [6]:
# 데이터 가져오기
df = sns.load_dataset('planets')
# 70% 데이터 추출
n = int(len(df)*0.7)
df = df[:n]

# 결측치 처리 전 표준편차
print('전',df['distance'].std())

df2 = df.copy()
# distance 중앙값
distance_mean = df2['distance'].median()
# distance 결측치 채우기
df2['distance'] = df2['distance'].fillna(distance_mean)
print('후',df2['distance'].std())

전 275.219153279301
후 267.2360034486678

In [5]:
import numpy as np
df = sns.load_dataset('planets')
n = int(len(df)*0.7)
df = df[:n]
df2 = df.copy()
df2['distance'] = df2['distance'].fillna(df2['distance'].median())
print('전',np.std(df['distance']))
print('후',np.std(df2['distance']))

전 275.0161144074896
후 267.0513844259766

- df['distance'].std()는 기본적으로 결측값을 제외하고 표준 편차를 계산
- np.std(df['distance'])는 기본적으로 NaN 값을 포함하여 표준 편차를 계산

In [11]:
print(2**0.5)
print((1.581139)**2)

1.4142135623730951
2.500000537321

In [14]:
df = pd.DataFrame([1,2,3,4,5,np.nan])
print(df.std()) # 표본표준편차
print(np.std(df)) # 모표준편차

0    1.581139
dtype: float64
0    1.414214
dtype: float64

작업형 유형 1 문제(3)

- orbital_preiod열의 이상치를 IQR 기법으로 제거하여
- 이상치들의 합을 계산
- 최종 결과만 print 출력

In [15]:
df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [18]:
Q1 = df['orbital_period'].quantile(0.25)
Q3 = df['orbital_period'].quantile(0.75)
IQR = (Q3-Q1)

min_value = Q1 - IQR*1.5
max_value = Q3 + IQR*1.5

# 이상치
outlier = df[(df['orbital_period'] <= min_value)|(df['orbital_period'] > max_value)]
print(outlier['orbital_period'].sum())

1818772.582