https://www.datamanim.com/dataset/practice/q1.html

# 작업 1유형

데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부

In [1]:
# 데이터 가져오기
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

Q1. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)

In [33]:
df['newage'] = df['age'].map(lambda x:x//10*10)
a = df['newage'].value_counts()
a.index[0]

# 30대

30

Q2. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [34]:
a.values[0]

# 5056명

5056

Q3. 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [38]:
len(df[(25<=df['age']) & (df['age']<29) & (df['housing'] == 'yes')])

# 504명

504

Q4. numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [47]:
lst = []
for col in df.select_dtypes(exclude='int'):
    lst.append([col,df[col].nunique()])

result = pd.DataFrame(lst).sort_values(1,ascending=False).values[0][0]
print(result)

# job

job

Q5. balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [14]:
df[df['balance']>=df['balance'].mean()].sort_values('ID',ascending=False)[:100]['balance'].mean()

# 3473.73

3473.73

Q6. 가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [48]:
df[['day','month']].value_counts().index[0]

# (15, 'may')

(15, 'may')

Q7. 데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

In [63]:
from scipy.stats import shapiro

shapiro(df[df['job'] == 'unknown']['age'])[1]

# 0.19612720608711243

0.19612720608711243

Q8. age와 balance의 상관계수를 구하여라

In [58]:
df[['age','balance']].corr().iloc[0,1]

# 0.10198734763981462

0.10198734763981462

Q9. y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

In [66]:
observed = pd.crosstab(df['y'],df['education'])

In [67]:
from scipy.stats import chi2_contingency

# 카이제곱 통계량 값, p-value, 자유도, 테이블의 합계를 기반으로 한 기대빈도
chi2,p,dof,expected = chi2_contingency(observed)
p

# 7.901201277473551e-29

7.901201277473551e-29

Q10. 각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [68]:
df['marital'].unique()

array(['single', 'married', 'divorced'], dtype=object)

In [84]:
a = df.groupby(['job','marital']).size().reset_index()
df_pivot = a.pivot_table(index='job',columns='marital')[0].fillna(0)
df_pivot

marital        divorced  married  single
job
admin.            207.0    762.0   495.0
blue-collar       205.0   1775.0   591.0
entrepreneur       44.0    272.0    67.0
housemaid          49.0    245.0    40.0
management        323.0   1580.0   955.0
retired           157.0    572.0    41.0
self-employed      39.0    284.0   131.0
services          138.0    584.0   321.0
student             0.0     24.0   334.0
technician        246.0   1115.0   780.0
unemployed         62.0    219.0   133.0
unknown             5.0     58.0    17.0

In [89]:
df_pivot['ratio'] = df_pivot['divorced']/df_pivot['married']
df_pivot.sort_values('ratio',ascending=False)['ratio'][0]

# 0.2831050228310502

0.2831050228310502