https://www.datamanim.com/dataset/practice/q2.html

# 작업 1유형

데이터 설명 : 뇌졸증 발생여부 예측

In [1]:
import pandas as pd

df1 = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df1.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1137 non-null   int64
 1   gender             1137 non-null   object
 2   age                1137 non-null   object
 3   hypertension       1137 non-null   int64
 4   heart_disease      1137 non-null   int64
 5   ever_married       1137 non-null   object
 6   work_type          1137 non-null   object
 7   Residence_type     1137 non-null   object
 8   avg_glucose_level  1137 non-null   float64
 9   bmi                1085 non-null   float64
 10  smoking_status     1137 non-null   object
 11  stroke             1137 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 106.7+ KB

Q1. 성별이 Male인 환자들의 age의 평균값은 ?

In [7]:
df1['age'].unique()

array(['31', '13', '18', '65', '4', '28', '64', '62', '26', '63', '50',
       '77', '1', '52', '24', '48', '45', '74', '3', '17', '54', '55',
       '67', '35', '38', '81', '34', '44', '79', '56', '70', '30', '39',
       '29', '80', '59', '51', '19', '43', '71', '0', '23', '53', '78',
       '66', '60', '76', '22', '6', '47', '2', '46', '11', '33', '37',
       '49', '61', '75', '40', '8', '57', '12', '21', '41', '58', '27',
       '20', '68', '42', '5', '69', '9', '36', '25', '82', '73', '32',
       '7', '16', '14', '72', '15', '10', '*82'], dtype=object)

In [8]:
# *82가 문제 + age의 type이 object
df1['age'] = df1['age'].str.replace('*','').astype('int')

In [9]:
df1[df1['gender'] == 'Male']['age'].mean()

# 44.68623481781376

44.68623481781376

Q2. bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [16]:
# bmi 중앙값
bmi_median = df1['bmi'].median() # 28.5
# 결측치 채우고 평균
round(df1['bmi'].fillna(bmi_median).mean(),3)

# 29.166

29.166

Q3. bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [19]:
round(df1['bmi'].fillna(method='ffill').mean(),3)

# 29.188

29.188

Q4. bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [25]:
# 나이대별 환자 평균 bmi 구하기
age_bmi = df1[df1['bmi'].notnull()].groupby(df1['age']//10*10)['bmi'].mean()
age_bmi_dic = {x:y for x,y in age_bmi.items()}

# 결측치 채우기
df1.loc[df1['bmi'].isnull(),'bmi'] = (df1[df1['bmi'].isnull()]['age']//10*10).map(lambda x:age_bmi_dic[x])

# 평균
round(df1['bmi'].mean(),3)

# 29.263

29.263

Q5. avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

In [27]:
df1.loc[df1['avg_glucose_level'] >= 200,'avg_glucose_level'] = 199

round(df1[df1['stroke'] == 1]['avg_glucose_level'].mean(),3)

125.188

<hr />
<br />
데이터 설명 : 포켓몬 정보

In [34]:
df2 = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df2.head()
print(df2.shape)

(800, 13)

Q6. Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [35]:
a = df2.sort_values('Attack',ascending=False)[:400]
b = df2.sort_values('Attack',ascending=False)[400:]
a['Legendary'].sum()-b['Legendary'].sum()

# 57

57

Q7. Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [41]:
df2.groupby('Type 1')['Total'].mean().sort_values(ascending=False).index[2]

# Flying

'Flying'

Q8. 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [46]:
a = df2.dropna()
n = len(a)
a[:int(n*0.6)]['Defense'].quantile(0.25)

#50.0

50.0

Q9. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [49]:
attack_mean = df2[df2['Type 1'] == 'Fire']['Attack'].mean()

len(df2[(df2['Type 1'] == 'Water') & (df2['Attack'] >=attack_mean)])

# 37

37

Q10. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [52]:
df2['diff'] = abs(df2['Speed']-df2['Defense'])

df2.groupby('Generation')['diff'].max().sort_values(ascending=False).index[0]

# 2

2