https://www.datamanim.com/dataset/03_dataq/typeone.html#id3

- 유튜브 인기동영상 데이터 (O)
- 유튜브 공범컨텐츠 동영상 데이터 (O)
- 월드컵 출전선수 골기록 데이터 (O)
- 서울시 따릉이 이용정보 데이터
- 전세계 행복도 지표 데이터

# 유튜브 인기동영상 데이터

데이터 설명 : 유튜브 데일리 인기동영상 (한국)

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

Question 1

인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [2]:
# 인기 동영상 제작 횟수 상위 10개 채널 id
df.channelId.value_counts().head(10)

channelId
UCszFjh7CEfwDb7UUGb4RzCQ    372
UClzB2iZ5jPoTNz0S-QU6Wiw    318
UCtm_QoN2SIxwCE-59shX7Qg    318
UCaKod3X1Tn4c7Ci0iUKcvzQ    313
UCiwQRG2sCcfjKkgxMEdJGPg    293
UChbE5OZQ6dRHECsX0tEPEZQ    283
UCLkAepWjdylmXSltofFvsYQ    275
UCQ2O-iftmnlfrBuNsUUTofQ    274
UCtfriFvIe5gIe8wRWb8UTMg    258
UCRuSxVu4iqTK5kCh90ntAgA    255
Name: count, dtype: int64

In [3]:
df[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique()

# ['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널',
# '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

array(['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널',
       '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV'],
      dtype=object)

Question 2

논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [4]:
df[df['dislikes'] > df['likes']].channelTitle.unique()

# ['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
#  '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
#  'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
#  '나혼자산다 STUDIO', 'Gen.G esports']

array(['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
       '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
       '나혼자산다 STUDIO', 'Gen.G esports'], dtype=object)

Question 3

채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [5]:
# channelId에 channelTitle 개수
cnt = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
cnt

channelId
UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: count, Length: 1770, dtype: int64

In [6]:
len(cnt[cnt>1])

# 71

71

Question 4

일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [7]:
df['trending_date2'] =  pd.to_datetime(df['trending_date2'])
df[df['trending_date2'].dt.day_name() == 'Sunday'].categoryId.value_counts().index[0]

# 24

24

Question 5

각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [8]:
# 각 요일별 categoryId 각각 몇개씩인가
a = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
a

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

In [9]:
a.pivot(index='categoryId',columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

Question 6

댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [10]:
# view_count값이 0인 경우 제외
a = df[df['view_count'] > 0].copy()
a['ratio'] = (a['comment_count']/a['view_count'])
a.sort_values('ratio',ascending=False).iloc[0].title

# 60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

Question 7

댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [13]:
a[a['ratio']!= 0].sort_values('ratio').iloc[0].title

# Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

Question 8

like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [32]:
a = df[(df['likes']!=0) & (df['dislikes']!=0)].copy()
a['ratio'] = a['dislikes']/a['likes']
# 가장 적은 영상 idx
idx = a.sort_values('ratio').index[0]
df.iloc[idx].title
# [줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

Question 9

가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [36]:
df[df.channelId ==df.channelId.value_counts().index[0]].channelTitle.unique()

# 짤툰

array(['짤툰'], dtype=object)

Question 10

20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [40]:
(df[['title','channelId']].value_counts()>=20).sum()

# 40

40

# 유튜브 공범컨텐츠 동영상 데이터

데이터 설명 : 유튜브 “공범” 컨텐츠 동영상 정보 ( 10분 간격 수집)

In [42]:
import pandas as pd

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

Question 11

각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [43]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

video['videoname'].value_counts()

videoname
 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: count, dtype: int64

Question 12

수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [52]:
video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']]

       viewcnt videoname                  ct
3491   3180532    공범 EP1 2021-11-01 15:30:03
6695   2199328    공범 EP2 2021-11-01 15:30:03
9263   1671294    공범 EP3 2021-11-01 15:30:03
11543  1818493    공범 EP4 2021-11-01 15:30:03
13105  1503435    공범 EP5 2021-11-01 15:30:04
14934  1750222    공범 EP6 2021-11-01 15:30:04
13660  1630200    공범 EP7 2021-11-01 15:30:05
15200  1289088    공범 EP8 2021-11-01 15:30:05

Question 13

Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [56]:
channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['channelname','ct']).drop_duplicates('channelname')[['channelname','subcnt']]

          channelname   subcnt
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000
901        김농밀의 농밀한 삶     7520
12                꽈뚜룹  1330000
393            논리왕 전기   922000
1028      릴펄 Lilpearl    10100
139             야전삽짱재   257000
520   와글와글 WagleWagle    55000
647               조나단   215000
266        츄정ChuJeong   322000
774           형사!탐정되다    14900

Question 14

각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [64]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

In [62]:
(channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15').sum()

11

In [68]:
(channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-10-03 03').sum()

11

In [75]:
start = channel[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-10-03 03']
start_df = start[['channelname','subcnt']]
start_df.columns = ['channelname','start_subcnt']

end = channel[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']
end_df = end[['channelname','subcnt']]
end_df.columns = ['channelname','end_subcnt']

start_end = pd.merge(start_df, end_df)
start_end['diff'] = start_end['end_subcnt'] - start_end['start_subcnt']
start_end[['channelname','diff']]

        channelname   diff
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

Question 15

각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [91]:
import datetime
ep1 = video[video['videoname'] == ' 공범 EP1'].sort_values('ct')

ep1[(ep1.ct.diff(1) <= datetime.timedelta(minutes=5))
    |
    (ep1.ct.diff(1) >= datetime.timedelta(minutes=20))].index

Index([721, 722, 1636], dtype='int64')

In [92]:
ep1[ep1.index.isin([720,721,722,723,1635,1636,1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

Question 16

각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [98]:
a = video.sort_values(['ct','videoname']).drop_duplicates('videoname')[['ct','videoname']]
a['ct'] = a.ct.dt.date
a.columns = [['date','videoname']]
a

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

Question 17

“공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [103]:
video['time'] = video.ct.dt.hour
video[video['time'] == 21].sort_values(['videoname','ct']).drop_duplicates('videoname').sort_values('viewcnt',ascending=False)[['videoname','viewcnt','ct']]

      videoname  viewcnt                  ct
14945    공범 EP8   264029 2021-10-30 21:00:08
13117    공범 EP7   252032 2021-10-28 21:00:04
9275     공범 EP4   217674 2021-10-16 21:00:04
13672    공범 EP6   213899 2021-10-23 21:00:06
11555    공범 EP5   201179 2021-10-21 21:00:04
3507     공범 EP2   148144 2021-10-09 21:00:03
6707     공범 EP3   147183 2021-10-14 21:00:04
21       공범 EP1   117340 2021-10-07 21:00:03

Question 18

video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [107]:
# 가장 최근 데이터
a = video.sort_values('ct').drop_duplicates('videoname',keep='last')

a['ratio'] = a['dislikecnt']/a['likecnt']
a.sort_values('ratio')[['videoname','ratio']]

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
13105    공범 EP5  0.021128
9263     공범 EP3  0.022360
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

Question 19

2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [110]:
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

def check(x):
    return max(x) - min(x)

a = video[(video['ct'] >= start) & (video['ct'] <= end)][['videoname','viewcnt']]
a.groupby('videoname').agg(check)

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

Question 20

video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [112]:
video[video.duplicated()]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,9
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,공범 EP2,9

# 월드컵 출전선수 골기록 데이터

데이터 설명 : 1930 ~2018년도 월드컵 출전선수 골기록

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

Question 21

주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [2]:
df.groupby('Country')['Goals'].sum().sort_values(ascending=False).to_frame().head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

Question 22

주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [3]:
df.groupby('Country').size().sort_values(ascending=False).to_frame().head(5)

            0
Country
Brazil     81
Germany    78
Italy      60
Argentina  59
France     58

Question 23

Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [6]:
df['yearList'] = df['Years'].str.split('-')

def check(x):
    for i in x:
        if len(i) != 4:
            return True
    return False

df['check'] = df['yearList'].apply(check)
df.check.sum()

# 45개

45

Question 24

Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다)

In [16]:
# drop = True : 기존 인덱스 버리기
df2 = df[~df.check].reset_index(drop=True)
len(df2)

# 1250개

1250

In [17]:
df2

,Player,Goals,Years,Country,yearList,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",False
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",False
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",False
3,Just Fontaine,13,1958,France,[1958],False
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",False
...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962],False
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",False
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],False
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],False
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",False

Question 25

월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [19]:
df2['LenCup'] = df2['yearList'].str.len()

df2['LenCup'].value_counts()[4]

# 16명

16

Question 26

Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [20]:
len(df2[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)])

# 7명

7

Question 27

2002년도에 출전한 전체 선수는 몇명인가?

In [30]:
df2['Years'].str.contains('2002').sum()

# 156명

156

Question 28

이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [32]:
df2['Player'].str.lower().str.contains('carlos').sum()

# 13명

13

Question 29

월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [34]:
df2.head(1)

,Player,Goals,Years,Country,yearList,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",False,4

In [41]:
df2[(df2['LenCup'] == 1)].sort_values('Goals',ascending=False).Player.values[0]

# Just Fontaine

'Just Fontaine'

Question 30

월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [44]:
df2[df2['LenCup'] == 1].Country.value_counts().index[0]

# Brazil

'Brazil'

# 서울시 따릉이 이용정보 데이터

데이터 설명 : 서울특별시_공공자전거 시간대별 이용정보

In [45]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

Question 31

대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

In [52]:
a = df['대여일자'].value_counts()
display(a.sort_index().to_frame())
print(a.index[0])

            count
대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

2021-06-04

Question 32

각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

In [57]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name'] = df['대여일자'].dt.day_name()
df['day_name'].value_counts().to_frame()

            count
day_name
Wednesday  110607
Friday     108877
Monday     107568
Tuesday    103704
Saturday   101299
Sunday      90918
Thursday    55977

Question 33

각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라

In [67]:
# 각 요일별 각 대여소 이용 횟수
a = df.groupby(['day_name','대여소번호']).size().to_frame('size').sort_values(['day_name','size'],ascending=False).reset_index()
# 가장 많이 이용한 대여소만 남기기
a.drop_duplicates('day_name',keep='first').reset_index(drop=True)

    day_name  대여소번호  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

Question 34

나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라

In [69]:
df['대여구분코드'].unique()

array(['정기권', '일일권', '단체권', '일일권(비회원)'], dtype=object)

In [78]:
# 나이대별 일일권 구매 횟수
daily = df[df['대여구분코드'].isin(['일일권','일일권(비회원)'])].연령대코드.value_counts().sort_index()

# 나이대별 사람 수
total = df.연령대코드.value_counts().sort_index()

# 비율
ratio = (daily/total).sort_values(ascending=False)
ratio.index[0]

# ~10대

'~10대'

Question 35

연령대별 평균 이동거리를 구하여라

In [79]:
df.head(1)

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.0,8,Tuesday

In [81]:
df[['연령대코드','이동거리']].groupby('연령대코드').mean()

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

Question 36

연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다.최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라

In [100]:
df['탄소량'].unique()

array(['0.00', '0.35', '0.37', ..., '12.39', '8.96', '17.01'],
      dtype=object)

In [93]:
df['탄소량'] = df['탄소량'].astype('float')
# 20대
twenty = df[df['연령대코드'] == '20대']
# 이동거리값이 평균 이상
mean_up = twenty[twenty['이동거리'] >= twenty['이동거리'].mean()]
# 대여일자, 대여소 번호 순서로 내림차순 정렬 후 200행의 탄소량
carbon = mean_up.sort_values(['대여일자','대여소번호'],ascending=False)[:200]['탄소량']
# 평균
# carbon

ValueError: could not convert string to float: '\\N'

Question 37

6월 7일 ~10대의 “이용건수”의 중앙값은?

Question 38

평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라

Question 39

이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라

Question 40

남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라

# 전세계 행복도 지표 데이터

데이터 설명 : 전세계 행복도 지표 조사