https://www.datamanim.com/dataset/03_dataq/typeone.html#id3

- ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„° (O)
- ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„° (O)
- ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„° (O)
- ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„° (O)
- ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ë°ì´í„° (O)
- ì§€ì—­êµ¬ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ ë°ì´í„° (O)
- í¬ì¼“ëª¬ ì •ë³´ ë°ì´í„° (O)
- ëŒ€í•œë¯¼êµ­ ì²´ë ¥ì¥ ë°ì´í„°
- ê¸°ì˜¨ ê°•ìˆ˜ëŸ‰ ë°ì´í„°
- ì„œë¹„ìŠ¤ ì´íƒˆì˜ˆì¸¡ ë°ì´í„°
- ì„±ì¸ ê±´ê°•ê²€ì§„ ë°ì´í„°
- ìë™ì°¨ ë³´í—˜ê°€ì… ì˜ˆì¸¡ë°ì´í„°
- í•¸ë“œí° ê°€ê²© ì˜ˆì¸¡ë°ì´í„°
- ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ ë°ì´í„°
- ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ ë°ì´í„°
- ì˜ë£Œ ë¹„ìš© ì˜ˆì¸¡ ë°ì´í„°
- í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²©ì˜ˆì¸¡ë¬¸ì œ ë°ì´í„°
- ëŒ€í•™ì› ì…í•™ê°€ëŠ¥ì„± ë°ì´í„°
- ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ ë°ì´í„°
- ì•½ë¬¼ ë¶„ë¥˜ ë°ì´í„°
- ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜ ë°ì´í„°
- ì„¼ì„œë°ì´í„° ë™ì‘ìœ í˜• ë¶„ë¥˜ ë°ì´í„°
- í˜„ëŒ€ ì°¨ëŸ‰ ê°€ê²© ë¶„ë¥˜ë¬¸ì œ ë°ì´í„°
- ë‹¹ë‡¨ì—¬ë¶€íŒë‹¨ ë°ì´í„°
- ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ ë°ì´í„°
- nba ì„ ìˆ˜ ëŠ¥ë ¥ì¹˜ ë°ì´í„°

# ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­)

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

Question 1

ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [2]:
# ì¸ê¸° ë™ì˜ìƒ ì œì‘ íšŸìˆ˜ ìƒìœ„ 10ê°œ ì±„ë„ id
df.channelId.value_counts().head(10)

channelId
UCszFjh7CEfwDb7UUGb4RzCQ    372
UClzB2iZ5jPoTNz0S-QU6Wiw    318
UCtm_QoN2SIxwCE-59shX7Qg    318
UCaKod3X1Tn4c7Ci0iUKcvzQ    313
UCiwQRG2sCcfjKkgxMEdJGPg    293
UChbE5OZQ6dRHECsX0tEPEZQ    283
UCLkAepWjdylmXSltofFvsYQ    275
UCQ2O-iftmnlfrBuNsUUTofQ    274
UCtfriFvIe5gIe8wRWb8UTMg    258
UCRuSxVu4iqTK5kCh90ntAgA    255
Name: count, dtype: int64

In [3]:
df[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique()

# ['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
# 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV']

array(['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
       'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV'],
      dtype=object)

Question 2

ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [4]:
df[df['dislikes'] > df['likes']].channelTitle.unique()

# ['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
#  'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
#  'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
#  'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

Question 3

ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [5]:
# channelIdì— channelTitle ê°œìˆ˜
cnt = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
cnt

channelId
UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: count, Length: 1770, dtype: int64

In [6]:
len(cnt[cnt>1])

# 71

71

Question 4

ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [7]:
df['trending_date2'] =  pd.to_datetime(df['trending_date2'])
df[df['trending_date2'].dt.day_name() == 'Sunday'].categoryId.value_counts().index[0]

# 24

24

Question 5

ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [8]:
# ê° ìš”ì¼ë³„ categoryId ê°ê° ëª‡ê°œì”©ì¸ê°€
a = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
a

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

In [9]:
a.pivot(index='categoryId',columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

Question 6

ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [10]:
# view_countê°’ì´ 0ì¸ ê²½ìš° ì œì™¸
a = df[df['view_count'] > 0].copy()
a['ratio'] = (a['comment_count']/a['view_count'])
a.sort_values('ratio',ascending=False).iloc[0].title

# 60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

Question 7

ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [13]:
a[a['ratio']!= 0].sort_values('ratio').iloc[0].title

# Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

Question 8

like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [32]:
a = df[(df['likes']!=0) & (df['dislikes']!=0)].copy()
a['ratio'] = a['dislikes']/a['likes']
# ê°€ì¥ ì ì€ ì˜ìƒ idx
idx = a.sort_values('ratio').index[0]
df.iloc[idx].title
# [ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

Question 9

ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [36]:
df[df.channelId ==df.channelId.value_counts().index[0]].channelTitle.unique()

# ì§¤íˆ°

array(['ì§¤íˆ°'], dtype=object)

Question 10

20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [40]:
(df[['title','channelId']].value_counts()>=20).sum()

# 40

40

# ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)

In [42]:
import pandas as pd

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

Question 11

ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [43]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

video['videoname'].value_counts()

videoname
 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: count, dtype: int64

Question 12

ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [52]:
video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']]

       viewcnt videoname                  ct
3491   3180532    ê³µë²” EP1 2021-11-01 15:30:03
6695   2199328    ê³µë²” EP2 2021-11-01 15:30:03
9263   1671294    ê³µë²” EP3 2021-11-01 15:30:03
11543  1818493    ê³µë²” EP4 2021-11-01 15:30:03
13105  1503435    ê³µë²” EP5 2021-11-01 15:30:04
14934  1750222    ê³µë²” EP6 2021-11-01 15:30:04
13660  1630200    ê³µë²” EP7 2021-11-01 15:30:05
15200  1289088    ê³µë²” EP8 2021-11-01 15:30:05

Question 13

Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [56]:
channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['channelname','ct']).drop_duplicates('channelname')[['channelname','subcnt']]

          channelname   subcnt
1276    Balming Tiger    54300
1155    ê³½í† ë¦¬ kwak tori   471000
901        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
12                ê½ˆëšœë£¹  1330000
393            ë…¼ë¦¬ì™• ì „ê¸°   922000
1028      ë¦´í„ Lilpearl    10100
139             ì•¼ì „ì‚½ì§±ì¬   257000
520   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
647               ì¡°ë‚˜ë‹¨   215000
266        ì¸„ì •ChuJeong   322000
774           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900

Question 14

ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [64]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

In [62]:
(channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15').sum()

11

In [68]:
(channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-10-03 03').sum()

11

In [75]:
start = channel[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-10-03 03']
start_df = start[['channelname','subcnt']]
start_df.columns = ['channelname','start_subcnt']

end = channel[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']
end_df = end[['channelname','subcnt']]
end_df.columns = ['channelname','end_subcnt']

start_end = pd.merge(start_df, end_df)
start_end['diff'] = start_end['end_subcnt'] - start_end['start_subcnt']
start_end[['channelname','diff']]

        channelname   diff
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2500

Question 15

ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [91]:
import datetime
ep1 = video[video['videoname'] == ' ê³µë²” EP1'].sort_values('ct')

ep1[(ep1.ct.diff(1) <= datetime.timedelta(minutes=5))
    |
    (ep1.ct.diff(1) >= datetime.timedelta(minutes=20))].index

Index([721, 722, 1636], dtype='int64')

In [92]:
ep1[ep1.index.isin([720,721,722,723,1635,1636,1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1

Question 16

ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [98]:
a = video.sort_values(['ct','videoname']).drop_duplicates('videoname')[['ct','videoname']]
a['ct'] = a.ct.dt.date
a.columns = [['date','videoname']]
a

             date videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
9264   2021-10-16    ê³µë²” EP4
11544  2021-10-21    ê³µë²” EP5
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

Question 17

â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [103]:
video['time'] = video.ct.dt.hour
video[video['time'] == 21].sort_values(['videoname','ct']).drop_duplicates('videoname').sort_values('viewcnt',ascending=False)[['videoname','viewcnt','ct']]

      videoname  viewcnt                  ct
14945    ê³µë²” EP8   264029 2021-10-30 21:00:08
13117    ê³µë²” EP7   252032 2021-10-28 21:00:04
9275     ê³µë²” EP4   217674 2021-10-16 21:00:04
13672    ê³µë²” EP6   213899 2021-10-23 21:00:06
11555    ê³µë²” EP5   201179 2021-10-21 21:00:04
3507     ê³µë²” EP2   148144 2021-10-09 21:00:03
6707     ê³µë²” EP3   147183 2021-10-14 21:00:04
21       ê³µë²” EP1   117340 2021-10-07 21:00:03

Question 18

video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [107]:
# ê°€ì¥ ìµœê·¼ ë°ì´í„°
a = video.sort_values('ct').drop_duplicates('videoname',keep='last')

a['ratio'] = a['dislikecnt']/a['likecnt']
a.sort_values('ratio')[['videoname','ratio']]

      videoname     ratio
13660    ê³µë²” EP7  0.013636
14934    ê³µë²” EP6  0.015881
11543    ê³µë²” EP4  0.017971
13105    ê³µë²” EP5  0.021128
9263     ê³µë²” EP3  0.022360
3491     ê³µë²” EP1  0.027118
6695     ê³µë²” EP2  0.029844
15200    ê³µë²” EP8  0.141357

Question 19

2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [110]:
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

def check(x):
    return max(x) - min(x)

a = video[(video['ct'] >= start) & (video['ct'] <= end)][['videoname','viewcnt']]
a.groupby('videoname').agg(check)

           viewcnt
videoname
 ê³µë²” EP1      13298
 ê³µë²” EP2      10300
 ê³µë²” EP3       9927
 ê³µë²” EP4       9824
 ê³µë²” EP5      10824
 ê³µë²” EP6      14141
 ê³µë²” EP7      26949
 ê³µë²” EP8      89147

Question 20

video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

In [112]:
video[video.duplicated()]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,9
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,ê³µë²” EP2,9

# ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : 1930 ~2018ë…„ë„ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

Question 21

ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

In [2]:
df.groupby('Country')['Goals'].sum().sort_values(ascending=False).to_frame().head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

Question 22

ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [3]:
df.groupby('Country').size().sort_values(ascending=False).to_frame().head(5)

            0
Country
Brazil     81
Germany    78
Italy      60
Argentina  59
France     58

Question 23

Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

In [6]:
df['yearList'] = df['Years'].str.split('-')

def check(x):
    for i in x:
        if len(i) != 4:
            return True
    return False

df['check'] = df['yearList'].apply(check)
df.check.sum()

# 45ê°œ

45

Question 24

Q3ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤)

In [16]:
# drop = True : ê¸°ì¡´ ì¸ë±ìŠ¤ ë²„ë¦¬ê¸°
df2 = df[~df.check].reset_index(drop=True)
len(df2)

# 1250ê°œ

1250

In [17]:
df2

,Player,Goals,Years,Country,yearList,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",False
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",False
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",False
3,Just Fontaine,13,1958,France,[1958],False
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",False
...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962],False
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",False
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],False
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],False
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",False

Question 25

ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [19]:
df2['LenCup'] = df2['yearList'].str.len()

df2['LenCup'].value_counts()[4]

# 16ëª…

16

Question 26

Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [20]:
len(df2[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)])

# 7ëª…

7

Question 27

2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?

In [30]:
df2['Years'].str.contains('2002').sum()

# 156ëª…

156

Question 28

ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [32]:
df2['Player'].str.lower().str.contains('carlos').sum()

# 13ëª…

13

Question 29

ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [34]:
df2.head(1)

,Player,Goals,Years,Country,yearList,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",False,4

In [41]:
df2[(df2['LenCup'] == 1)].sort_values('Goals',ascending=False).Player.values[0]

# Just Fontaine

'Just Fontaine'

Question 30

ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [44]:
df2[df2['LenCup'] == 1].Country.value_counts().index[0]

# Brazil

'Brazil'

# ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ì„œìš¸íŠ¹ë³„ì‹œ_ê³µê³µìì „ê±° ì‹œê°„ëŒ€ë³„ ì´ìš©ì •ë³´

In [102]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

Question 31

ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼

In [103]:
a = df['ëŒ€ì—¬ì¼ì'].value_counts()
display(a.sort_index().to_frame())
print(a.index[0])

            count
ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

2021-06-04

Question 32

ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [104]:
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])
df['day_name'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name()
df['day_name'].value_counts().to_frame()

            count
day_name
Wednesday  110607
Friday     108877
Monday     107568
Tuesday    103704
Saturday   101299
Sunday      90918
Thursday    55977

Question 33

ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [105]:
# ê° ìš”ì¼ë³„ ê° ëŒ€ì—¬ì†Œ ì´ìš© íšŸìˆ˜
a = df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending=False).reset_index()
# ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œë§Œ ë‚¨ê¸°ê¸°
a.drop_duplicates('day_name',keep='first').reset_index(drop=True)

    day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

Question 34

ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼

In [106]:
df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].unique()

array(['ì •ê¸°ê¶Œ', 'ì¼ì¼ê¶Œ', 'ë‹¨ì²´ê¶Œ', 'ì¼ì¼ê¶Œ(ë¹„íšŒì›)'], dtype=object)

In [107]:
# ë‚˜ì´ëŒ€ë³„ ì¼ì¼ê¶Œ êµ¬ë§¤ íšŸìˆ˜
daily = df[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].isin(['ì¼ì¼ê¶Œ','ì¼ì¼ê¶Œ(ë¹„íšŒì›)'])].ì—°ë ¹ëŒ€ì½”ë“œ.value_counts().sort_index()

# ë‚˜ì´ëŒ€ë³„ ì‚¬ëŒ ìˆ˜
total = df.ì—°ë ¹ëŒ€ì½”ë“œ.value_counts().sort_index()

# ë¹„ìœ¨
ratio = (daily/total).sort_values(ascending=False)
ratio.index[0]

# ~10ëŒ€

'~10ëŒ€'

Question 35

ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼

In [109]:
df[['ì—°ë ¹ëŒ€ì½”ë“œ','ì´ë™ê±°ë¦¬']].groupby('ì—°ë ¹ëŒ€ì½”ë“œ').mean()

              ì´ë™ê±°ë¦¬
ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€    3211.890552
30ëŒ€    3341.443859
40ëŒ€    3514.857416
50ëŒ€    3593.668100
60ëŒ€    3538.145737
70ëŒ€~   3085.039641
~10ëŒ€   2634.426279

Question 36

ì—°ë ¹ëŒ€ ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ ,ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤.ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [110]:
df['íƒ„ì†ŒëŸ‰'].unique()

array(['0.00', '0.35', '0.37', ..., '12.39', '8.96', '17.01'],
      dtype=object)

In [113]:
df[df['íƒ„ì†ŒëŸ‰'] == '\\N']

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
17,2021-06-01,0,1167,ì •ê¸°ê¶Œ,F,20ëŒ€,1,\N,\N,0.0,20,Tuesday
313,2021-06-01,0,2396,ì •ê¸°ê¶Œ,M,30ëŒ€,1,\N,\N,0.0,15,Tuesday
416,2021-06-01,0,250,ì •ê¸°ê¶Œ,M,40ëŒ€,1,\N,\N,0.0,56,Tuesday
694,2021-06-01,0,2356,ì¼ì¼ê¶Œ,M,30ëŒ€,1,\N,\N,0.0,22,Tuesday
897,2021-06-01,0,125,ì •ê¸°ê¶Œ,M,40ëŒ€,1,\N,\N,0.0,69,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
676885,2021-06-14,22,1282,ì •ê¸°ê¶Œ,F,50ëŒ€,1,\N,\N,0.0,117,Monday
677276,2021-06-14,22,2548,ì •ê¸°ê¶Œ,M,40ëŒ€,1,\N,\N,0.0,9,Monday
677732,2021-06-14,23,2377,ì •ê¸°ê¶Œ,M,20ëŒ€,1,\N,\N,0.0,30,Monday
678029,2021-06-14,23,4206,ì •ê¸°ê¶Œ,M,30ëŒ€,1,\N,\N,0.0,55,Monday
678137,2021-06-14,23,1958,ì •ê¸°ê¶Œ,M,50ëŒ€,1,\N,\N,0.0,59,Monday

In [128]:
# 20ëŒ€
twenty = df[df['ì—°ë ¹ëŒ€ì½”ë“œ'] == '20ëŒ€']
twenty
# ì´ë™ê±°ë¦¬ê°’ì´ í‰ê·  ì´ìƒ
mean_up = twenty[twenty['ì´ë™ê±°ë¦¬'] >= twenty['ì´ë™ê±°ë¦¬'].mean()]
# ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 200í–‰ì˜ íƒ„ì†ŒëŸ‰
carbon = mean_up.sort_values(['ëŒ€ì—¬ì¼ì','ëŒ€ì—¬ì†Œë²ˆí˜¸'],ascending=False)[:200]['íƒ„ì†ŒëŸ‰']
# í‰ê· 
carbon = carbon.astype('float')
round(carbon.mean(),3)

# 1.613

1.613

Question 37

6ì›” 7ì¼ ~10ëŒ€ì˜ â€œì´ìš©ê±´ìˆ˜â€ì˜ ì¤‘ì•™ê°’ì€?

In [130]:
df['ëŒ€ì—¬ì¼ì']

0        2021-06-01
1        2021-06-01
2        2021-06-01
3        2021-06-01
4        2021-06-01
            ...
678945   2021-06-14
678946   2021-06-14
678947   2021-06-14
678948   2021-06-14
678949   2021-06-14
Name: ëŒ€ì—¬ì¼ì, Length: 678950, dtype: datetime64[ns]

In [133]:
df[(df['ëŒ€ì—¬ì¼ì'] == pd.to_datetime('2021-06-07'))&(df['ì—°ë ¹ëŒ€ì½”ë“œ'] == '~10ëŒ€')].ì´ìš©ê±´ìˆ˜.median()

# 1.0

1.0

Question 38

í‰ì¼ (ì›”~ê¸ˆ) ì¶œê·¼ ì‹œê°„ëŒ€(ì˜¤ì „ 6,7,8ì‹œ)ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ í˜•íƒœë¡œ í‘œí˜„í•œ í›„ ê° ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš© íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼

In [165]:
a = df[(df['ëŒ€ì—¬ì¼ì'].dt.day_name().isin(['Monday','Tuesday','Wednesday','Thursday','Friday'])) & (df['ëŒ€ì—¬ì‹œê°„'].isin([6,7,8]))]
a = a.groupby(['ëŒ€ì—¬ì‹œê°„','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('ì´ìš© íšŸìˆ˜')
display(a)
a.sort_values(['ëŒ€ì—¬ì‹œê°„','ì´ìš© íšŸìˆ˜'],ascending=False).groupby('ëŒ€ì—¬ì‹œê°„').head(3)

            ì´ìš© íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
6    102        5
     103        8
     106        1
     109        4
     111        5
...           ...
8    4864       4
     4865      12
     4867       3
     4868       3
     9980       1

[6236 rows x 1 columns]

            ì´ìš© íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

Question 39

ì´ë™ê±°ë¦¬ì˜ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ì¶”ì¶œë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•˜ì—¬ë¼

In [166]:
df[df['ì´ë™ê±°ë¦¬']>=df['ì´ë™ê±°ë¦¬'].mean()]['ì´ë™ê±°ë¦¬'].std()

# 5092.139707505356

5092.139707505356

Question 40

ë‚¨ì„±(â€˜Mâ€™ or â€˜mâ€™)ê³¼ ì—¬ì„±(â€˜Fâ€™ or â€˜fâ€™)ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

In [172]:
male = df[df['ì„±ë³„'].isin(['M','m'])]['ì´ë™ê±°ë¦¬'].mean()
print(male)

# 3209.1108714530546

female = df[df['ì„±ë³„'].isin(['F','f'])]['ì´ë™ê±°ë¦¬'].mean()
print(female)

# 3468.5750252981957

3209.1108714530546
3468.5750252981957

# ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ì¡°ì‚¬

In [174]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

Question 41

ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [177]:
df[df['í–‰ë³µë­í‚¹'] == 10].ì ìˆ˜.mean()

# 7.259

7.259

Question 42

ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [179]:
df[df['í–‰ë³µë­í‚¹'] <= 50][['ë…„ë„','ì ìˆ˜']].groupby('ë…„ë„').mean()

           ì ìˆ˜
ë…„ë„
2018  6.64678
2019  6.67002

Question 43

2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [180]:
df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [185]:
df[df['ë…„ë„'] == 2018][['ì ìˆ˜','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr().iloc[0,1]

# 0.40529152271510027

0.40529152271510027

Question 44

2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [190]:
len(df[['í–‰ë³µë­í‚¹','ë‚˜ë¼ëª…']]) - len(df[['í–‰ë³µë­í‚¹','ë‚˜ë¼ëª…']].drop_duplicates())

# 15

15

Question 45

2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê°ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼. ì»¬ëŸ¼ëª…ì€ v1,v2,corrìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [227]:
a = df[df['ë…„ë„'] == 2019].drop('ë‚˜ë¼ëª…',axis=1).corr().stack().to_frame()
a = a[a != 1].sort_values(0,ascending=False).drop_duplicates(0).head(5).reset_index()
a.columns = ['v1','v2','corr']
a

      v1     v2      corr
0  í–‰ë³µê¸°ëŒ€ì¹˜  ìƒëŒ€GDP  0.835462
1  ìƒëŒ€GDP     ì ìˆ˜  0.793883
2  í–‰ë³µê¸°ëŒ€ì¹˜     ì ìˆ˜  0.779883
3  ì‚¬íšŒì ì§€ì›     ì ìˆ˜  0.777058
4  ì‚¬íšŒì ì§€ì›  ìƒëŒ€GDP  0.754906

Question 46

ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [196]:
df.groupby('ë…„ë„').tail(5).groupby('ë…„ë„')['ì ìˆ˜'].mean()

ë…„ë„
2018    3.1800
2019    3.1408
Name: ì ìˆ˜, dtype: float64

Question 47

2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ë°ì´í„°ì˜ ìƒëŒ€ GDP í‰ê·  ì´ìƒì˜ ë‚˜ë¼ë“¤ê³¼ í‰ê·  ì´í•˜ì˜ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ê·¸ ì°¨ì´ê°’ì„ ì¶œë ¥í•˜ë¼

In [240]:
a = a.loc[df['ë…„ë„'] == 2019]
over = a[a.ìƒëŒ€GDP >= a.ìƒëŒ€GDP.mean()]['ì ìˆ˜'].mean()
under = a[a.ìƒëŒ€GDP <= a.ìƒëŒ€GDP.mean()]['ì ìˆ˜'].mean()

over - under

# 1.390483957219251

1.390483957219251

Question 48

ê°ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [245]:
df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'],ascending=False).groupby('ë…„ë„').head(20).groupby('ë…„ë„')['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'].mean()

ë…„ë„
2018    0.3267
2019    0.3201
Name: ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹, dtype: float64

Question 49

2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [264]:
a = set(df[(df['ë…„ë„'] == 2018) & (df['í–‰ë³µë­í‚¹'] <= 50)].ë‚˜ë¼ëª…)
b = set(df[(df['ë…„ë„'] == 2019) & (df['í–‰ë³µë­í‚¹'] <= 50)].ë‚˜ë¼ëª…)
len(a-b)

# 4

4

Question 50

2018ë…„,2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜ëŠ”?

In [279]:
country = df.ë‚˜ë¼ëª….value_counts()
country = country[country>=2].index
country

a = df[df.ë‚˜ë¼ëª….isin(country)].reset_index(drop=True)
# 2018ë…„ ì ìˆ˜ ìŒìˆ˜ë¡œ
a.loc[a.ë…„ë„ == 2018,'ì ìˆ˜'] = a.loc[a.ë…„ë„ == 2018,'ì ìˆ˜']*-1
a = a.groupby('ë‚˜ë¼ëª…')['ì ìˆ˜'].sum().sort_values().to_frame()
print(a.index[-1],a.values[-1])

# Burundi 0.87

Burundi [0.87]

# ì§€ì—­êµ¬ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ê¸°ì˜¨, ìŠµë„, ë°”ëŒí’ì†ì— ë”°ë¥¸ ë„ì‹œì˜ 3ê°œ ì§€ì—­êµ¬ì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰

In [1]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

Question 51

DateTimeì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ êµ¬í•˜ì—¬ë¼

In [2]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['DateTime'].dt.month.value_counts().sort_index().to_frame()

          count
DateTime
1          4464
2          4032
3          4464
4          4320
5          4464
6          4320
7          4464
8          4464
9          4320
10         4464
11         4320
12         4320

Question 52

3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

In [3]:
a = df[df['DateTime'].dt.month == 3]
a.groupby(df.DateTime.dt.hour)['Temperature'].mean().sort_values().iloc[0]

# 11.506612903225806

11.506612903225806

Question 53

3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

In [10]:
df[df['DateTime'].dt.month == 3].groupby(df['DateTime'].dt.hour).Temperature.mean().sort_values().iloc[-1]

# 18.393602150537635

18.393602150537635

Question 54

Zone 1 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ê°€ Zone 2 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [11]:
df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']].Humidity.mean()

# 68.23624448055094

68.23624448055052

Question 55

ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°í•˜ë¼

In [12]:
df.columns

Index(['DateTime', 'Temperature', 'Humidity', 'Wind Speed',
       'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption'],
      dtype='object')

In [13]:
df[['Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

Question 56

Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B,20ì´ìƒ 30ë¯¸ë§Œì˜ ê²½ìš° C, ê·¸ ì™¸ì˜ ê²½ìš° Dë¼ê³  í• ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [14]:
def Tem(x):
    if x < 10:
        return 'A'
    elif x < 20:
        return 'B'
    elif x < 30:
        return 'C'
    else:
        return 'D'

df['Temperature'].apply(Tem).value_counts()

Temperature
B    26993
C    21105
A     2874
D     1444
Name: count, dtype: int64

Question 57

6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ì—¬ë¼

In [15]:
df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)].Temperature.std()

# 2.0499417827951025

2.0499417827951025

Question 58

6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°ì„ êµ¬í•˜ì—¬ë¼

In [16]:
df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)].Temperature.var()

# 4.202261312849163

4.202261312849163

Question 59

Temperatureì˜ í‰ê· ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

In [20]:
df[df['Temperature'] >= df['Temperature'].mean()].sort_values('Temperature').Humidity.values[3]

# 87.9

87.9

Question 60

Temperatureì˜ ì¤‘ê°„ê°’ ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

In [21]:
df[df['Temperature'] >= df['Temperature'].median()].sort_values('Temperature').Humidity.values[3]

# 80.3

80.3

# í¬ì¼“ëª¬ ì •ë³´ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : í¬ì¼“ëª¬ ì •ë³´

In [22]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Question 61

Legendary ì»¬ëŸ¼ì€ ì „ì„¤í¬ì¼“ëª¬ ìœ ë¬´ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤.ì „ì„¤í¬ì¼“ëª¬ê³¼ ê·¸ë ‡ì§€ ì•Šì€ í¬ì¼“ëª¬ë“¤ì˜ HPí‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [25]:
yes = df[df['Legendary']].HP.mean()
no = df[~df['Legendary']].HP.mean()
yes - no

# 25.55614861329147

25.55614861329147

Question 62

Type 1ì€ ì£¼ì†ì„± Type 2 ëŠ” ë¶€ì†ì„±ì„ ë‚˜íƒ€ë‚¸ë‹¤. ê°€ì¥ ë§ì€ ë¶€ì†ì„± ì¢…ë¥˜ëŠ” ë¬´ì—‡ì¸ê°€?

In [30]:
df['Type 2'].value_counts().index[0]

# Flying

'Flying'

Question 63

ê°€ì¥ ë§ì€ Type 1 ì˜ ì¢…ì˜ í‰ê·  Attack ì„ í‰ê·  Defenseë¡œ ë‚˜ëˆˆê°’ì€?

In [31]:
a = df['Type 1'].value_counts().index[0]
df[df['Type 1'] == a].Attack.mean()/df[df['Type 1'] == a].Defense.mean()

# a = df['Type 1'].value_counts().index[0]
df[df['Type 1'] == a].Attack.mean()/df[df['Type 1'] == a].Defense.mean()

#

1.0165238678090576

Question 64

í¬ì¼“ëª¬ ì„¸ëŒ€(Generation) ì¤‘ ê°€ì¥ë§ì€ Legendaryë¥¼ ë³´ìœ í•œ ì„¸ëŒ€ëŠ” ëª‡ì„¸ëŒ€ì¸ê°€?

In [39]:
df[['Generation','Legendary']].groupby('Generation').sum().sort_values('Legendary').index[-1]

# df[df.Legendary==True].Generation.value_counts().index[0]
# 3

3

Question 65

â€˜HPâ€™, â€˜Attackâ€™, â€˜Defenseâ€™, â€˜Sp. Atkâ€™, â€˜Sp. Defâ€™, â€˜Speedâ€™ ê°„ì˜ ìƒê´€ ê³„ìˆ˜ì¤‘ ê°€ì¥ ì ˆëŒ“ê°’ì´ í° ë‘ ë³€ìˆ˜ì™€ ê·¸ ê°’ì„ êµ¬í•˜ì—¬ë¼

In [52]:
df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().stack().reset_index().sort_values(0,ascending=False).iloc[6]

level_0     Defense
level_1     Sp. Def
0          0.510747
Name: 16, dtype: object

Question 66

ê° Generationì˜ Attackìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 3ê°œ ë°ì´í„°ë“¤(18ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [55]:
df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()

# 19.5

19.5

Question 67

ê° Generationì˜ Attackìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 5ê°œ ë°ì´í„°ë“¤(30ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [58]:
df.sort_values(['Generation','Attack'],ascending=False).groupby('Generation').head(5).Attack.mean()

# 157.23333333333332

157.23333333333332

Question 68

ê°€ì¥ í”í•˜ê²Œ ë°œê²¬ë˜ëŠ” (Type1 , Type2) ì˜ ìŒì€ ë¬´ì—‡ì¸ê°€?

In [64]:
df[['Type 1','Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
Name: count, dtype: int64

Question 69

í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì˜ ê°¯ìˆ˜ëŠ” ëª‡ê°œì¸ê°€?

In [72]:
a = df[['Type 1','Type 2']].value_counts()
len(a[a == 1])

# 39

39

Question 70

í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì„ ê° ì„¸ëŒ€(Generation)ì€ ê°ê° ëª‡ê°œì”© ê°€ì§€ê³  ìˆëŠ”ê°€?

In [89]:
a = df[['Type 1','Type 2']].value_counts()
a_ls = a[a == 1]

lst = []
for value in a_ls.index:
    t1 = value[0]
    t2 = value[1]
    new = df[(df['Type 1'] == t1) & (df['Type 2'] == t2)]
    lst.append(new)

pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()

Generation
1     1
2     4
3     5
4    13
5     7
6     9
Name: count, dtype: int64

# ëŒ€í•œë¯¼êµ­ ì²´ë ¥ì¥ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ëŒ€í•œë¯¼êµ­ êµ­ë¯¼ ì²´ë ¥ì¥ í‰ê°€

In [92]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

Question 71

ì „ì²´ë°ì´í„°ì˜ ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) - ì´ì™„ê¸°í˜ˆì••(ìµœì €)ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [96]:
(df['ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg'] - df['ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg']).mean()

# 52.19539414750672

52.19539414750672

Question 72

50~59ì„¸ì˜ ì‹ ì¥í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [98]:
df[(df['ì¸¡ì •ë‚˜ì´'] >= 50) & (df['ì¸¡ì •ë‚˜ì´'] <= 59)]['ì‹ ì¥ : cm'].mean()

# 164.07490107405314

164.07490107405314

Question 73

ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ì¸ì›ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [101]:
(df['ì¸¡ì •ë‚˜ì´']//10*10).value_counts()

ì¸¡ì •ë‚˜ì´
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: count, dtype: int64

Question 74

ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ë“±ê¸‰ì˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [106]:
df['age'] = df['ì¸¡ì •ë‚˜ì´']//10*10
df[['age','ë“±ê¸‰']].value_counts().sort_index().to_frame()

# df.groupby(['ì—°ë ¹ëŒ€','ë“±ê¸‰'],as_index=False).size()

         count
age  ë“±ê¸‰
20.0 A    1585
     B    1443
     C    1455
     D    1348
30.0 A     743
     B     697
     C     626
     D     594
40.0 A     386
     B     428
     C     455
     D     532
50.0 A     321
     B     410
     C     474
     D     564
60.0 A     314
     B     371
     C     339
     D     311

Question 75

ë‚¨ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì§€ë°©ë¥  í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

In [109]:
man = df[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M']
abs(man[man['ë“±ê¸‰'] == 'A']['ì²´ì§€ë°©ìœ¨ : %'].mean() - man[man['ë“±ê¸‰'] == 'D']['ì²´ì§€ë°©ìœ¨ : %'].mean())

# 7.932086486137521

7.932086486137521

Question 76

ì—¬ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì¤‘ì˜ í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

In [115]:
woman = df[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'F']
abs(woman[woman['ë“±ê¸‰'] == 'A']['ì²´ì¤‘ : kg'].mean() - woman[woman['ë“±ê¸‰'] == 'D']['ì²´ì¤‘ : kg'].mean())

# 5.176211590296504

5.176211590296504

Question 77

bmiëŠ” ìì‹ ì˜ ëª¸ë¬´ê²Œ(kg)ë¥¼ í‚¤ì˜ ì œê³±(m)ìœ¼ë¡œ ë‚˜ëˆˆê°’ì´ë‹¤. ë°ì´í„°ì˜ bmi ë¥¼ êµ¬í•œ ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ë‚¨ì„±ì˜ bmi í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [121]:
df['bmi'] = df['ì²´ì¤‘ : kg']/(df['ì‹ ì¥ : cm']/100)**2
df[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M'].bmi.mean()

# 24.46134409819308

24.46134409819308

Question 78

bmië³´ë‹¤ ì²´ì§€ë°©ìœ¨ì´ ë†’ì€ ì‚¬ëŒë“¤ì˜ ì²´ì¤‘í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [123]:
df[df['ì²´ì§€ë°©ìœ¨ : %'] > df['bmi']]['ì²´ì¤‘ : kg'].mean()

# 61.7408806392542

61.7408806392542

Question 79

ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ ì•…ë ¥ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [124]:
man = df[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M']['ì•…ë ¥D : kg'].mean()
woman = df[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'F']['ì•…ë ¥D : kg'].mean()
man - woman

# 17.55954185047464

17.55954185047464

Question 80

ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° íšŸìˆ˜ì˜ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [125]:
man = df[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M']['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ'].mean()
woman = df[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'F']['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ'].mean()
man - woman

# 14.243156833157627

14.243156833157627

In [122]:
df.head(1)

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰,age,bmi
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0,23.053061

# ê¸°ì˜¨ ê°•ìˆ˜ëŸ‰ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : 2020ë…„ë„ ì´í™”ë™(ì„œìš¸) , ìˆ˜ì˜ë™(ë¶€ì‚°)ì˜ ì‹œê°„ë‹¨ìœ„ì˜ ê¸°ì˜¨ê³¼ ê°•ìˆ˜ëŸ‰

In [126]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  ì´í™”ë™ê°•ìˆ˜  ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜  ìˆ˜ì˜ë™ê¸°ì˜¨
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

Question 81

ì—¬ë¦„ì² (6ì›”,7ì›”,8ì›”) ì´í™”ë™ì´ ìˆ˜ì˜ë™ë³´ë‹¤ ë†’ì€ ê¸°ì˜¨ì„ ê°€ì§„ ì‹œê°„ëŒ€ëŠ” ëª‡ê°œì¸ê°€?

In [131]:
df['time'] = pd.to_datetime(df['time'])
a = df[df['time'].dt.month.isin([6,7,8])]
len(a[a['ì´í™”ë™ê¸°ì˜¨'] > a['ìˆ˜ì˜ë™ê¸°ì˜¨']]['time'])

# 1415

1415

Question 82

ì´í™”ë™ê³¼ ìˆ˜ì˜ë™ì˜ ìµœëŒ€ê°•ìˆ˜ëŸ‰ì˜ ì‹œê°„ëŒ€ë¥¼ ê°ê° êµ¬í•˜ì—¬ë¼

In [134]:
ehwa = df[df['ì´í™”ë™ê°•ìˆ˜'] == df['ì´í™”ë™ê°•ìˆ˜'].max()]['time']
print(ehwa)

soyoung = df[df['ìˆ˜ì˜ë™ê°•ìˆ˜'] == df['ìˆ˜ì˜ë™ê°•ìˆ˜'].max()]['time']
print(soyoung)

6561   2020-09-30 09:00:00
Name: time, dtype: datetime64[ns]
4908   2020-07-23 12:00:00
Name: time, dtype: datetime64[ns]

# ì„œë¹„ìŠ¤ ì´íƒˆì˜ˆì¸¡ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ê³ ê°ì˜ ì‹ ìƒì •ë³´ ë°ì´í„°ë¥¼ í†µí•œ íšŒì‚¬ ì„œë¹„ìŠ¤ ì´íƒˆ ì˜ˆì¸¡ (ì¢…ì†ë³€ìˆ˜ : Exited)

In [135]:
import pandas as pd
#ë°ì´í„° ë¡œë“œ
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

Question 83

ë‚¨ì„± ì´íƒˆ(Exited)ì´ ê°€ì¥ ë§ì€ êµ­ê°€(Geography)ëŠ” ì–´ë””ì´ê³  ì´íƒˆ ì¸ì›ì€ ëª‡ëª…ì¸ê°€?

In [140]:
df[(df['Gender'] == 'Male')&(df['Exited'] == 1)].Geography.value_counts().head(1)

# Germany 287

Geography
Germany    287
Name: count, dtype: int64

Question 84

ì¹´ë“œë¥¼ ì†Œìœ (HasCrCard ==1)í•˜ê³  ìˆìœ¼ë©´ì„œ í™œì„±ë©¤ë²„(IsActiveMember ==1) ì¸ ê³ ê°ë“¤ì˜ í‰ê·  ë‚˜ì´ë¥¼ ì†Œìˆ«ì ì´í•˜ 4ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼?

In [142]:
round(df[(df['HasCrCard'] == 1) & (df['IsActiveMember'] == 1)].Age.mean(),4)

# 39.6102

39.6102

Question 85

Balance ê°’ì´ ì¤‘ê°„ê°’ ì´ìƒì„ ê°€ì§€ëŠ” ê³ ê°ë“¤ì˜ CreditScoreì˜ í‘œì¤€í¸ì°¨ë¥¼ ì†Œìˆ«ì ì´í•˜ 3ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [146]:
round(df[df['Balance'] >= df['Balance'].median()]['CreditScore'].std(),3)

# 97.295

97.295

# ì„±ì¸ ê±´ê°•ê²€ì§„ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : 2018ë…„ë„ ì„±ì¸ì˜ ê±´ê°•ê²€ ì§„ë°ì´í„° (í¡ì—°ìƒíƒœ 1- í¡ì—°, 0-ë¹„í¡ì—° )

In [147]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df.head()

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),ì‹ ì¥(5Cmë‹¨ìœ„),ì²´ì¤‘(5Kgë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ì‹œë ¥(ì¢Œ),ì‹œë ¥(ìš°),ì²­ë ¥(ì¢Œ),ì²­ë ¥(ìš°),ìˆ˜ì¶•ê¸°í˜ˆì••,...,í˜ˆìƒ‰ì†Œ,ìš”ë‹¨ë°±,í˜ˆì²­í¬ë ˆì•„í‹°ë‹Œ,(í˜ˆì²­ì§€ì˜¤í‹°)AST,(í˜ˆì²­ì§€ì˜¤í‹°)ALT,ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€,ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´,ì¹˜ì„
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

Question 86

ìˆ˜ì¶•ê¸°í˜ˆì••ê³¼ ì´ì™„ê¸° í˜ˆì••ê¸° ìˆ˜ì¹˜ì˜ ì°¨ì´ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼(â€˜í˜ˆì••ì°¨â€™) ìœ¼ë¡œ ìƒì„±í•˜ê³ , ì—°ë ¹ëŒ€ ì½”ë“œë³„ ê° ê·¸ë£¹ ì¤‘ â€˜í˜ˆì••ì°¨â€™ ì˜ ë¶„ì‚°ì´ 5ë²ˆì§¸ë¡œ í° ì—°ë ¹ëŒ€ ì½”ë“œë¥¼ êµ¬í•˜ì—¬ë¼

In [150]:
df['í˜ˆì••ì°¨'] = df['ìˆ˜ì¶•ê¸°í˜ˆì••'] - df['ì´ì™„ê¸°í˜ˆì••']
df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)')['í˜ˆì••ì°¨'].var().sort_values().index[-5]

# 60

60

Question 87

ë¹„ë§Œë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œì¸ WHtRëŠ” í—ˆë¦¬ë‘˜ë ˆ / í‚¤ë¡œ í‘œí˜„í•œë‹¤. ì¼ë°˜ì ìœ¼ë¡œ 0.58ì´ìƒì´ë©´ ë¹„ë§Œìœ¼ë¡œ ë¶„ë¥˜í•œë‹¤. ë°ì´í„°ì¤‘ WHtR ì§€í‘œìƒ ë¹„ë§Œì¸ ì¸ì›ì˜ ë‚¨/ì—¬ ë¹„ìœ¨ì„ êµ¬í•˜ì—¬ë¼

In [153]:
df['WHtR'] = df['í—ˆë¦¬ë‘˜ë ˆ']/df['ì‹ ì¥(5Cmë‹¨ìœ„)']
man = len(df[(df['WHtR'] >= 0.58) & (df['ì„±ë³„ì½”ë“œ'] == 'M')])
woman = len(df[(df['WHtR'] >= 0.58) & (df['ì„±ë³„ì½”ë“œ'] == 'F')])
man/woman

# 1.1693877551020408

1.1693877551020408

# ìë™ì°¨ ë³´í—˜ê°€ì… ì˜ˆì¸¡ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ìë™ì°¨ ë³´í—˜ ê°€ì… ì˜ˆì¸¡

In [154]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

Question 88

Vehicle_Age ê°’ì´ 2ë…„ ì´ˆê³¼ì¸ ì‚¬ëŒë“¤ë§Œ í•„í„°ë§ í•˜ê³  ê·¸ì¤‘ì—ì„œ
Annual_Premium ê°’ì´ ì „ì²´ ë°ì´í„°ì˜ ì¤‘ê°„ê°’ ì´ìƒì¸ ì‚¬ëŒë“¤ì„ ì°¾ê³ , ê·¸ë“¤ì˜ Vintageê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [156]:
df[(df['Vehicle_Age'] == '> 2 Years') & (df['Annual_Premium'] >= df['Annual_Premium'].median())].Vintage.mean()

# 154.43647182359118

154.43647182359118

Question 89

vehicle_ageì— ë”°ë¥¸ ê° ì„±ë³„(gender)ê·¸ë£¹ì˜ Annual_Premiumê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ ì•„ë˜ í…Œì´ë¸”ê³¼ ë™ì¼í•˜ê²Œ êµ¬í˜„í•˜ë¼

In [164]:
df.head(1)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0

In [172]:
a = df.groupby(['Vehicle_Age','Gender'],as_index=False)['Annual_Premium'].mean()
a.pivot_table(index='Vehicle_Age',columns='Gender',values='Annual_Premium')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

# í•¸ë“œí° ê°€ê²© ì˜ˆì¸¡ë°ì´í„°

ë°ì´í„° ì„¤ëª… : í•¸ë“œí° ê°€ê²©ì˜ˆì¸¡ (price_rangeì»¬ëŸ¼ 0(ì €ë ´) ~3(ë§¤ìš°ë¹„ìŒˆ) ë²”ìœ„ )

In [173]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

Question 90

price_range ì˜ ê° valueë¥¼ ê·¸ë£¹í•‘í•˜ì—¬ ê° ê·¸ë£¹ì˜ n_cores ì˜ ë¹ˆë„ê°€ ê°€ì¥ë†’ì€ valueì™€ ê·¸ ë¹ˆë„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [182]:
df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values().groupby('price_range').tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

Question 91

price_range ê°’ì´ 3ì¸ ê·¸ë£¹ì—ì„œ ìƒê´€ê´€ê³„ê°€ 2ë²ˆì§¸ë¡œ ë†’ì€ ë‘ ì»¬ëŸ¼ê³¼ ê·¸ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [194]:
a = df[df['price_range'] == 3].corr().stack()
a[a != 1].sort_values().reset_index().iloc[-2]

level_0          pc
level_1          fc
0          0.635166
Name: 378, dtype: object

# ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ (satisfaction ì»¬ëŸ¼ : â€˜neutral or dissatisfiedâ€™ or satisfied ) (83123, 24) shape

In [195]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

Question 92

Arrival Delay in Minutes ì»¬ëŸ¼ì´ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë“¤ ì¤‘ â€˜neutral or dissatisfiedâ€™ ë³´ë‹¤ â€˜satisfiedâ€™ì˜ ìˆ˜ê°€ ë” ë†’ì€ ClassëŠ” ì–´ë”” ì¸ê°€?

In [198]:
df.satisfaction.unique()

array(['satisfied', 'neutral or dissatisfied'], dtype=object)

In [202]:
df.Class.unique()

array(['Business', 'Eco', 'Eco Plus'], dtype=object)

In [205]:
a = df[df['Arrival Delay in Minutes'].isnull()].groupby(['Class','satisfaction']).size().unstack()
a[a['neutral or dissatisfied'] < a['satisfied']]

# Business

satisfaction  neutral or dissatisfied  satisfied
Class
Business                           36         76

# ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ (Potablillity ì»¬ëŸ¼ : 0 ,1 )

In [206]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

Question 93

phê°’ì€ ìƒë‹¹íˆ ë§ì€ ê²°ì¸¡ì¹˜ë¥¼ í¬í•¨í•œë‹¤. ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë‚˜ë¨¸ì§€ ë°ì´í„°ë“¤ ì¤‘ ì‚¬ë¶„ìœ„ê°’ ê¸°ì¤€ í•˜ìœ„ 25%ì˜ ê°’ë“¤ì˜ í‰ê· ê°’ì€?

In [212]:
# a = df.ph.dropna()
a = df[df['ph'].notnull()].reset_index()
a[a['ph'] <= a['ph'].quantile(0.25)].ph.mean()

# 5.057093462441731

5.057093462441731

# ì˜ë£Œ ë¹„ìš© ì˜ˆì¸¡ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ì˜ë£Œë¹„ìš© ì˜ˆì¸¡ë¬¸ì œ

In [217]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
train.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

Question 94

í¡ì—°ìì™€ ë¹„í¡ì—°ì ê°ê° chargesì˜ ìƒìœ„ 10% ê·¸ë£¹ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?

In [219]:
train.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [221]:
smoke = train[train['smoker'] == 'yes']
smoke = smoke[smoke['charges'] >= smoke['charges'].quantile(0.9)].charges.mean()

not_smoke = train[train['smoker'] == 'no']
not_smoke = not_smoke[not_smoke['charges'] >= not_smoke['charges'].quantile(0.9)].charges.mean()

smoke - not_smoke

# 29297.954548156144

29297.954548156144

# í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²©ì˜ˆì¸¡ë¬¸ì œ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²© ì˜ˆì¸¡ë¬¸ì œ

In [222]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

Question 95

bedrooms ì˜ ë¹ˆë„ê°€ ê°€ì¥ ë†’ì€ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë“¤ì˜ priceì˜ ìƒìœ„ 10%ì™€ í•˜ìœ„ 10%ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [224]:
max_bed = df['bedrooms'].value_counts().index[0]
df[df['bedrooms'] == max_bed].price.quantile(0.9) - df[df['bedrooms'] == max_bed].price.quantile(0.1)

# 505500.0

505500.0

# ëŒ€í•™ì› ì…í•™ê°€ëŠ¥ì„± ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ëŒ€í•™ì› ì…í•™ ê°€ëŠ¥ì„± ì˜ˆì¸¡

In [231]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

Question 96

Serial No. ì»¬ëŸ¼ì„ ì œì™¸í•˜ê³  â€˜Chance of Admitâ€™ì„ ì¢…ì†ë³€ìˆ˜, ë‚˜ë¨¸ì§€ ë³€ìˆ˜ë¥¼ ë…ë¦½ë³€ìˆ˜ë¼ í• ë•Œ, ëœë¤í¬ë ˆìŠ¤íŠ¸ë¥¼ í†µí•´ íšŒê·€ ì˜ˆì¸¡ì„ í•  ë–„ ë³€ìˆ˜ì¤‘ìš”ë„ ê°’ì„ ì¶œë ¥í•˜ë¼ (ì‹œë“œê°’ì— ë”°ë¼ ìˆœì„œëŠ” ë‹¬ë¼ì§ˆìˆ˜ ìˆìŒ)

In [232]:
from sklearn.ensemble import RandomForestRegressor

df = df.drop('Serial No.',axis=1)
x = df.drop('Chance of Admit',axis=1)
y = df['Chance of Admit']

ml = RandomForestRegressor()
ml.fit(x,y)

RandomForestRegressor()

In [235]:
x.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research'],
      dtype='object')

In [233]:
ml.feature_importances_

array([0.09185323, 0.03649806, 0.01288519, 0.02469082, 0.02414692,
       0.80201204, 0.00791374])

In [241]:
pd.DataFrame({'importance':ml.feature_importances_},x.columns).sort_values('importance',ascending=False)

                   importance
CGPA                 0.802012
GRE Score            0.091853
TOEFL Score          0.036498
SOP                  0.024691
LOR                  0.024147
University Rating    0.012885
Research             0.007914

# ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ë¬¸ì œ

In [242]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

Question 97

quality ê°’ì´ 3ì¸ ê·¸ë£¹ê³¼ 8ì¸ ë°ì´í„°ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ë³„ ë…ë¦½ë³€ìˆ˜ì˜ í‘œì¤€í¸ì°¨ ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í• ë•Œ ê·¸ê°’ì´ ê°€ì¥ í° ì»¬ëŸ¼ëª…ì„ êµ¬í•˜ì—¬ë¼

In [249]:
abs(df[df.quality == 8].std() - df[df.quality == 3].std()).sort_values().index[-1]

# total sulfur dioxide

'total sulfur dioxide'

# ì•½ë¬¼ ë¶„ë¥˜ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : íˆ¬ì•½í•˜ëŠ” ì•½ì„ ë¶„ë¥˜

In [250]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

Question 98

ë‚¨ì„±ë“¤ì˜ ì—°ë ¹ëŒ€ë³„ (10ì‚´ì”© êµ¬ë¶„ 0~9ì„¸ 10~19ì„¸ â€¦) Na_to_Kê°’ì˜ í‰ê· ê°’ì„ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ì—¬ë¼

In [257]:
df['new_Age'] = df['Age']//10*10
df[df['Sex'] == 'M'].groupby('new_Age')['Na_to_K'].mean().to_frame()

           Na_to_K
new_Age
10       13.627000
20       18.260769
30       15.244143
40       13.897273
50       14.811273
60       14.284308
70       11.363857

# ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜

In [258]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")
df.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1
3,3.41,8,1.12,0.4,0.448,0.00,0.2,0.000,1.12,5.0,...,0.4,0,0.2,0.0,2.2,1.848,0.4,0.5,0.3696,0
4,55.57,9,1.06,0.4,0.424,0.00,0.2,0.000,1.06,5.0,...,0.4,0,0.2,0.0,2.2,1.824,0.4,0.5,0.3648,0

Question 99

ë°ì´í„°ì˜ Risk ê°’ì— ë”°ë¥¸ score_aì™€ score_bì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

In [260]:
df[['Risk','Score_A','Score_B']].groupby('Risk').mean()

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

# ì„¼ì„œë°ì´í„° ë™ì‘ìœ í˜• ë¶„ë¥˜ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ì„¼ì„œë°ì´í„°ë¡œ ë™ì‘ ìœ í˜• ë¶„ë¥˜

In [261]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
df.head()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

Question 100

poseê°’ì— ë”°ë¥¸ ê° motionì»¬ëŸ¼ì˜ ì¤‘ê°„ê°’ì˜ ê°€ì¥ í° ì°¨ì´ë¥¼ ë³´ì´ëŠ” motionì»¬ëŸ¼ì€ ì–´ë””ì´ë©° ê·¸ê°’ì€?

In [267]:
a = df.groupby('pose').median().T
abs(a[0] - a[1]).sort_values()

# mothio_54, mothion_62

motion_0     0.0
motion_24    0.0
motion_25    0.0
motion_26    0.0
motion_32    0.0
            ...
motion_30    3.0
motion_38    3.0
motion_46    3.5
motion_54    4.0
motion_62    4.0
Length: 64, dtype: float64

# í˜„ëŒ€ ì°¨ëŸ‰ ê°€ê²© ë¶„ë¥˜ë¬¸ì œ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : í˜„ëŒ€ ì°¨ëŸ‰ê°€ê²© ë¶„ë¥˜ë¬¸ì œ

In [269]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(Â£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

Question 101

ì •ë³´(rowìˆ˜)ê°€ ê°€ì¥ ë§ì€ ìƒìœ„ 3ì°¨ì¢…ì˜ priceê°’ì˜ ê° í‰ê· ê°’ì€?

In [275]:
df[df.model.isin(df.model.value_counts().index[:3])].groupby('model').price.mean()

model
 I10        7646.137891
 I30       11651.821759
 Tucson    15805.441373
Name: price, dtype: float64

# ë‹¹ë‡¨ì—¬ë¶€íŒë‹¨ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ë‹¹ë‡¨ì—¬ë¶€ íŒë‹¨í•˜ê¸°

In [276]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

Question 102

Outcome ê°’ì— ë”°ë¥¸ ê° ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ì˜ í‰ê·  ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [280]:
a = df.groupby('Outcome').mean().T
abs(a[0] - a[1])

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
dtype: float64

# ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ ë°ì´í„°

ë°ì´í„° ì„¤ëª… : ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ë°ì´í„°

In [281]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

Question 103

ë§¤ë…„ 5ì›”ë‹¬ì˜ openê°€ê²©ì˜ í‰ê· ê°’ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

# nba ì„ ìˆ˜ ëŠ¥ë ¥ì¹˜ ë°ì´í„°

Question 104

Tm ì»¬ëŸ¼ì€ ê° íŒ€ì˜ ì´ë¦„ì„ ì˜ë¯¸í•œë‹¤. TORíŒ€ì˜ í‰ê· ë‚˜ì´ë¥¼ ì†Œìˆ˜ 4ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

Question 105

Pos ì»¬ëŸ¼ì€ í¬ì§€ì…˜ì„ ì˜ë¯¸í•œë‹¤. ì „ì²´ ì„ ìˆ˜ ì¤‘ ìµœì†Œë‚˜ì´ëŒ€ì˜ ì„ ìˆ˜ë“¤ì„ í•„í„°í•˜ê³  ê·¸ë“¤ ì¤‘ ê°€ì¥ ë§ì€ í¬ì§€ì…˜ì€ ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ë¼

Question 106

ì„ ìˆ˜ë“¤ì˜ ì´ë¦„ì€ first_name+ ê³µë°± + last_nameìœ¼ë¡œ ì´ë£¨ì–´ì ¸ ìˆë‹¤. ê°€ì¥ ë§ì€ first_nameì€ ë¬´ì—‡ì´ë©° ëª‡ íšŒ ë°œìƒí•˜ëŠ”ì§€ í™•ì¸í•˜ë¼

Question 107

PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

Question 108

PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

Question 109

Gì»¬ëŸ¼ì€ ì°¸ì—¬í•œ ê²½ê¸°ì˜ ìˆ«ìì´ë‹¤. ê° íŒ€ë³„ë¡œ ê°€ì¥ ë†’ì€ ê²½ê¸°ì°¸ì—¬ ìˆ˜ë¥¼ ê°€ì§„ ì„ ìˆ˜ë“¤ì˜ ê²½ê¸° ì°¸ì—¬ ìˆ«ìì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

Question 110

Tmì˜ ê°’ì´ MIAì´ë©° PosëŠ” Cë˜ëŠ” PFì¸ ì„ ìˆ˜ì˜ MPê°’ì˜ í‰ê· ì€?

Question 111

ì „ì²´ ë°ì´í„°ì¤‘ Gì˜ í‰ê· ê°’ì˜ 1.5ë°° ì´ìƒì¸ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí–ˆì„ë•Œ 3Pê°’ì˜ í‰ê· ì€?

Question 112

Ageì˜ í‰ê·  ì´ìƒì¸ ê·¸ë£¹ê³¼ í‰ê·  ë¯¸ë§Œì¸ ê·¸ë£¹ê°„ì˜ Gê°’ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?

Question 113

í‰ê· ë‚˜ì´ê°€ ê°€ì¥ ì Šì€ íŒ€ì€ ì–´ë””ì¸ê°€

Question 114

Posê·¸ë£¹ë³„ í‰ê·  MPê°’ì„ êµ¬í•˜ì—¬ë¼